
.header__lang-link{
    text-align: right;
    margin-right: 18px;
}

.header__lang-link:last-child{
    float: right;
    margin-right: 0;
}

.header__lang-link:first-of-type{
    text-decoration: underline;
}

@media screen and (min-width: 1025px) and (max-width: 1280px){
    .header__lang-link{
        width: 27px;
        height: 28px;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        margin-top: 12px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px){
    .header__lang-link{
        width: 27px;
        height: 28px;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        margin-top: 12px;
    }
}
  
@media screen and (min-width: 321px) and (max-width: 768px){
    .header__lang-link{
        width: 27px;
        height: 28px;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        margin-top: 12px;
    }
}
  
@media screen and (max-width: 320px){
    .header__lang-link{
        width: 21px;
        height: 20px;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        margin-top: 10px;
    }
}