.place__title{
    text-align: left;
    margin: 0;
}



@media screen and (min-width: 1025px) and (max-width: 1280px){
    .place__title{  
        height: fit-content;
        grid-column: 1; 
        width: 460px;
        font-size: 72px;
        font-weight: 900;
        line-height: 76px;
        
    }
    
}

@media screen and (min-width: 769px) and (max-width: 1024px){
    .place__title{
        height: fit-content;
        grid-column: 1; 
        width: 440px;
        font-size: 72px;
        font-weight: 900;
        line-height: 76px;
        
    }
    
}
  
@media screen and (min-width: 321px) and (max-width: 768px){
    .place__title{
        height: fit-content;
        grid-column: 1; 
        width: 340px;
        font-size: 42px;
        font-weight: 900;
        line-height: 46px;
        
    }
    
}
  
@media screen and (max-width: 320px){
    .place__title{
        grid-row: 1;
        width: 288px;
        font-size: 32px;
        font-weight: 900;
        line-height: 35px;
        margin-left: auto;
        margin-right: auto;
    }
    
}


.element {
    /* global styles */
}
@media screen and (min-width: 1280px){
    /* styles for 1280px */
}
@media screen and (max-width: 1279px){
    /* styles for 1024px */
}
@media screen and (max-width: 1023px){
     /* styles for 768px */
}
@media screen and (max-width: 767px){
     /* styles for 320px */
} 
