.intro__list{
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
}

.intro__list span{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}



@media screen and (min-width: 1025px) and (max-width: 1280px){
    .intro__list{
        margin-top: 33px;
        width: 690px;
        /* height: 72px; */
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px){
    .intro__list{
        margin-top: 33px;
        width: 690px;
        /* height: 72px; */
    }
}
  
@media screen and (min-width: 321px) and (max-width: 768px){
    .intro__list{
        margin-top: 33px;
        width: 720px;
        /* height: 72px; */
    }
}
  
@media screen and (max-width: 320px){
    .intro__list{
        margin-top: 34px;
        width: 288px;
        /* height: 72px; */
        
    }
}


.element {
    /* global styles */
}
@media screen and (min-width: 1280px){
    /* styles for 1280px */
}
@media screen and (max-width: 1279px){
    /* styles for 1024px */
}
@media screen and (max-width: 1023px){
     /* styles for 768px */
}
@media screen and (max-width: 767px){
     /* styles for 320px */
} 
