




  
.lead{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
@media screen and (min-width: 1280px){
    .lead{
        margin-top: 58px;
        width: 984px;
        /* height: 1005px; */
    }
}
@media screen and (max-width: 1279px){
    .lead{
        margin-top: 50px;
        width: 928px;
        /* height: 962px; */
    }
}
@media screen and (max-width: 1023px){
    .lead{
        margin-top: 50px;
        width: 100%;
        /* height: 862px; */
    }
}
@media screen and (max-width: 767px){
    .lead{
        margin-top: 50px;
        width: 100%;
        /* height: 406px; */
    }
} 
