
.lead__title{
    text-align: center;
    margin: 0 auto;
}




@media screen and (min-width: 1025px) and (max-width: 1280px){
    .lead__title{
        max-width: 720px;
        /* height: 200px; */
        font-size: 96px;
        font-weight: 900;
        line-height: 100px;
    }
}
  
@media screen and (min-width: 769px) and (max-width: 1024px){
    .lead__title{
        max-width: 720px;
        /* height: 200px; */
        font-size: 96px;
        font-weight: 900;
        line-height: 100px;
    }
}
  
@media screen and (min-width: 321px) and (max-width: 768px){
    .lead__title{
        max-width: 720px;
        /* height: 200px; */
        font-size: 96px;
        font-weight: 900;
        line-height: 100px;
    
    }
}
  
@media screen and (max-width: 320px){
    .lead__title{
        max-width: 288px;
        /* height: 88px; */
        font-size: 40px;
        font-weight: 900;
        line-height: 44px;
        
    }
}

.element {
    /* global styles */
}
@media screen and (min-width: 1280px){
    /* styles for 1280px */
}
@media screen and (max-width: 1279px){
    /* styles for 1024px */
}
@media screen and (max-width: 1023px){
     /* styles for 768px */
}
@media screen and (max-width: 767px){
     /* styles for 320px */
} 
