.intro__text{
    margin-top: 40px;
}
.intro__text:nth-of-type(2){
    margin-top: 32px;
}



@media screen and (min-width: 1025px) and (max-width: 1280px){
    .intro__text{
        max-width: 690px;
        /* height: 68px; */
        font-size: 24px;
        font-weight: 400;
        line-height: 34px;
    }
    .intro__text:nth-of-type(2){
        max-width: 690px;
        /* height: 208px; */
        font-size: 16px;
        font-weight: 400;
        line-height: 26.08px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px){
    .intro__text{
        max-width: 690px;
        /* height: 68px; */
        font-size: 24px;
        font-weight: 400;
        line-height: 34px;
    }
    .intro__text:nth-of-type(2){
        max-width: 690px;
        /* height: 208px; */
        font-size: 16px;
        font-weight: 400;
        line-height: 26.08px;
    }
}
  
@media screen and (min-width: 321px) and (max-width: 768px){
    .intro__text{
        max-width: 720px;
        /* height: 68px; */
        font-size: 24px;
        font-weight: 400;
        line-height: 34px;
    }
    .intro__text:nth-of-type(2){
        width: 720px;
        /* height: 182px; */
        font-size: 16px;
        font-weight: 400;
        line-height: 26.08px;
    }
}
  
@media screen and (max-width: 320px){
    .intro__text{
        max-width: 288px;
        /* height: 90px; */
        font-size: 24px;
        font-weight: 400;
        line-height: 30px;
    }
    .intro__text:nth-of-type(2){
        width: 288px;
        /* height: 468px; */
        font-size: 16px;
        font-weight: 400;
        line-height: 26.08px;
    }
}



.element {
    /* global styles */
}
@media screen and (min-width: 1280px){
    /* styles for 1280px */
}
@media screen and (max-width: 1279px){
    /* styles for 1024px */
}
@media screen and (max-width: 1023px){
     /* styles for 768px */
}
@media screen and (max-width: 767px){
     /* styles for 320px */
} 
