.lead__subtitle{
    text-align: center;
    margin-bottom: 0;
}



@media screen and (min-width: 1025px) and (max-width: 1280px){
    .lead__subtitle{
        margin-top: 32px;
        max-width: 620px;
        /* height: 72px; */
        font-size: 30px;
        font-weight: 400;
        line-height: 36px;
    }
    .lead__subtitle::before{
        content: "An epic bicycle journey from Portland, ME. ";
        display: block;
    }
    .lead__subtitle::after{
        content: "to Portland, OR";
        display: block;
    }
}
  
@media screen and (min-width: 769px) and (max-width: 1024px){
    .lead__subtitle{
        margin-top: 32px;
        max-width: 620px;
        /* height: 72px; */
        font-size: 30px;
        font-weight: 400;
        line-height: 36px;
    }
    .lead__subtitle::before{
        content: "An epic bicycle journey from Portland, ME. ";
        display: block;
    }
    .lead__subtitle::after{
        content: "to Portland, OR";
        display: block;
    }
}
  
@media screen and (min-width: 321px) and (max-width: 768px){
    .lead__subtitle{
        margin-top: 32px;
        max-width: 620px;
        /* height: 72px; */
        font-size: 30px;
        font-weight: 400;
        line-height: 36px;
    }
    .lead__subtitle::before{
        content: "An epic bicycle journey from Portland, ME. ";
        display: block;
    }
    .lead__subtitle::after{
        content: "to Portland, OR";
        display: block;
    }
}
  
@media screen and (max-width: 320px){
    .lead__subtitle{
        margin-top: 16px;
        max-width: 288px;
        /* height: 40px; */
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }
    .lead__subtitle::before{
        content: "An epic bicycle journey ";
        display: block;
    }
    .lead__subtitle::after{
        content: "from Portland, ME. to Portland, OR";
        display: block;
    }
}



.element {
    /* global styles */
}
@media screen and (min-width: 1280px){
    /* styles for 1280px */
}
@media screen and (max-width: 1279px){
    /* styles for 1024px */
}
@media screen and (max-width: 1023px){
     /* styles for 768px */
}
@media screen and (max-width: 767px){
     /* styles for 320px */
} 
