.place__link{
    margin-top: 12px;
    text-align: left;
    text-decoration: underline; 
    cursor: pointer;
    transition: 0.3s;
    color: white;
}

.place__link:hover{
  opacity: 0.8;
}

@media screen and (min-width: 1280px){
  .place__link{
      margin-top: 12px;
      width: 456px;
      height: 22px;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
  }
}
@media screen and (max-width: 1279px){
  .place__link{
      margin-top: 12px;
      width: 456px;
      height: 22px;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
  }
}
@media screen and (max-width: 1023px){
  .place__link{
      margin-top: 12px;
      width: 352px;
      height: 22px;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      
      
  }
}
@media screen and (max-width: 767px){
  .place__link{
      margin-top: 12px;
      width: 288px;
      height: 22px;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      
      
  }
} 
