.place__link{
    margin-top: 12px;
    text-align: left;
    text-decoration: underline; 
    cursor: pointer;
    transition: 0.3s;
    color: white;
}

.place__link:hover{
  opacity: 0.8;
}

@media screen and (min-width: 1025px) and (max-width: 1280px){
    .place__link{
        margin-top: 12px;
        width: 456px;
        height: 22px;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
    }
  }
  
  @media screen and (min-width: 769px) and (max-width: 1024px){
    .place__link{
        margin-top: 12px;
        width: 456px;
        height: 22px;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
    }
  }
  
  @media screen and (min-width: 321px) and (max-width: 768px){
    .place__link{
        margin-top: 12px;
        width: 352px;
        height: 22px;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        
        
    }
    
  }
  
  @media screen and (max-width: 320px){
    .place__link{
        margin-top: 12px;
        width: 288px;
        height: 22px;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        
        
    }
  }


  .element {
    /* global styles */
}
@media screen and (min-width: 1280px){
    /* styles for 1280px */
}
@media screen and (max-width: 1279px){
    /* styles for 1024px */
}
@media screen and (max-width: 1023px){
     /* styles for 768px */
}
@media screen and (max-width: 767px){
     /* styles for 320px */
} 
