
.cover__overlay{
    z-index: 8;
    position: relative;
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.cover__overlay:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (min-width: 1025px) and (max-width: 1280px){
    .cover__overlay{
        /* margin-left: auto;
        margin-right: auto; */
        width: 1184px;
        height: 740px;
        margin-top: 92px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px){
    .cover__overlay{
        margin-top: 92px;
        width: 1024px;
        height: 640px;
        
    }
}
  
@media screen and (min-width: 321px) and (max-width: 768px){
    .cover__overlay{
        margin-top: 89px;
        width: 768px;
        height: 480px;
        
    }
}
  
@media screen and (max-width: 320px){
    .cover__overlay{
        margin-top: 64px;
        width: 320px;
        height: 200px;
        
    }
}

.element {
    /* global styles */
}
@media screen and (min-width: 1280px){
    /* styles for 1280px */
}
@media screen and (max-width: 1279px){
    /* styles for 1024px */
}
@media screen and (max-width: 1023px){
     /* styles for 768px */
}
@media screen and (max-width: 767px){
     /* styles for 320px */
} 
