.place{
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.place:first-child{
  margin-top: 0;
}

@media screen and (min-width: 1025px) and (max-width: 1280px){
  .place{
    display: grid;
    /* grid-template-columns: auto auto;   */
    grid-auto-flow: column;
    margin-top: 80px;
    width: 984px;  
  }
}


@media screen and (min-width: 769px) and (max-width: 1024px){
  .place{
    display: grid;
    /* grid-template-columns: auto auto;   */
    grid-auto-flow: column;
    margin-top: 80px;
    width: 928px;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px){
  .place{
    display: grid;
    /* grid-template-columns: auto auto;   */
    grid-auto-flow: column;
    margin-top: 72px;
    width: 720px;
  }
}

@media screen and (max-width: 320px){
  .place{
    display: grid;
    grid-column: 1fr;
    margin-top: 48px;
    width: 320px;
  }
}



.element {
  /* global styles */
}
@media screen and (min-width: 1280px){
  /* styles for 1280px */
}
@media screen and (max-width: 1279px){
  /* styles for 1024px */
}
@media screen and (max-width: 1023px){
   /* styles for 768px */
}
@media screen and (max-width: 767px){
   /* styles for 320px */
} 
