.place__url-heading{
    text-align: left;
    color: #AAAAAA;

}



  
  @media screen and (min-width: 1025px) and (max-width: 1280px){
    .place__url-heading{
        width: 456px;
        height: 12px;
        font-size: 12px;
        font-weight: 400;
        line-height: 20.4px;
        letter-spacing: 0.2em;
    }
    
  }
  
  @media screen and (min-width: 769px) and (max-width: 1024px){
    .place__url-heading{
        width: 456px;
        height: 12px;
        font-size: 12px;
        font-weight: 400;
        line-height: 20.4px;
        letter-spacing: 0.2em;
    }
    
  }
  
  @media screen and (min-width: 321px) and (max-width: 768px){
    .place__url-heading{
        width: 352px;
        height: 12px;
        font-size: 12px;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 0.2em;
    }
    
  }
  
  @media screen and (max-width: 320px){
    .place__url-heading{
        width: 288px;
        height: 12px;
        font-size: 12px;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 0.2em;
    }
    
  }



.element {
    /* global styles */
}
@media screen and (min-width: 1280px){
    /* styles for 1280px */
}
@media screen and (max-width: 1279px){
    /* styles for 1024px */
}
@media screen and (max-width: 1023px){
     /* styles for 768px */
}
@media screen and (max-width: 767px){
     /* styles for 320px */
} 
