.intro__title{
    margin: 0;
}


@media screen and (min-width: 1025px) and (max-width: 1280px){
    .intro__title{
        max-width: 690px;
        /* height: 116px; */
        font-size: 54px;
        font-weight: 900;
        line-height: 58px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px){
    .intro__title{
        max-width: 690px;
        /* height: 116px; */
        font-size: 54px;
        font-weight: 900;
        line-height: 58px;
    }
}
  
@media screen and (min-width: 321px) and (max-width: 768px){
    .intro__title{
        max-width: 720px;
        /* height: 116px; */
        font-size: 54px;
        font-weight: 900;
        line-height: 58px;
    }
}
  
@media screen and (max-width: 320px){
    .intro__title{
        max-width: 288px;
        /* height: 105px; */
        font-size: 32px;
        font-weight: 900;
        line-height: 35px;
    }
}


.element {
    /* global styles */
}
@media screen and (min-width: 1280px){
    /* styles for 1280px */
}
@media screen and (max-width: 1279px){
    /* styles for 1024px */
}
@media screen and (max-width: 1023px){
     /* styles for 768px */
}
@media screen and (max-width: 767px){
     /* styles for 320px */
} 
